@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */ /* Uncomment this line to enable Tailwind CSS */

html {
    font-family: 'Poppins';
}

.navbar {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}

body{
    background: rgb(247,219,5);
    background: radial-gradient(circle, rgba(247,219,5,1) 0%, rgba(0,0,0,1) 100%); 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.router {
    animation: fadeIn 2s ease
}
